---
const {todo} = Astro.props
---
<li id={`todo-${todo.id}`}>
  <input type="checkbox" checked={todo.done}>
  <label>{todo.name}</label>
  <button
    class="cursor-pointer hover:scale-105 bg-red-500 px-2 py-1 text-sm rounded-lg transition-all duration-100"
    hx-target={`#todo-${todo.id}`} 
    hx-delete={`/api/todo/${todo.id}`}
  >delete</button>
</li>

